html,
body,
.page,
.site {
  background-color: #111111 !important;  
  color: #f0f0f0 !important;  
}


.masthead,
.masthead__inner-wrap {
  background-color: #0d0d0d !important;
}

.sidebar,
.sidebar__inner {
  background-color: #141414 !important;
}


.page__content {
  background-color: #111111 !important;
}


hr,
.page__content h2 {
  border-color: #333333 !important;
}
